

.info-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  height: 100%;
}

.info {
  width: 50%;
  border: 1px solid #ccc;
}

.lists {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.list {
  flex-basis: 48%; /* Adjust as needed to leave some spacing between the lists */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color:#EE964B; 
}

.nav-button {
  flex-direction: column;
}