.info-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.info {
  width: 50%;
}

.lists {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.list {
  flex-basis: 48%; /* Adjust as needed to leave some spacing between the lists */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
}